<% provide(:header, "Thank you for registering!") %>
<% content_for :body do %>
  <p>Hello <%= @resource.name %>!</p>
  <p>You are receiving this email because:</p>
  <p>a) You requested to have your password reset, or;</p>
  <p>b) You were recently entered into the our database on behalf of <strong><%= @organization.name %></strong>, and we'd like you to login and make sure our data is correct. <br><br>Please follow this link to create your new password: <%= link_to 'Create new password', edit_password_url(@resource, :reset_password_token => @token) %></p>
  <p>This link will be active for one week. Thanks again for being part of <%= @organization.name %></p>
<% end %>
<%= render 'shared_mailer/mailer_template' %>
