<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title"><%= @match.new_record? ? 'New Match' : 'Edit Match' %></h4>
  </div>
  <div class="panel-body">
    <%= semantic_form_for [@current_profile, @match] do |f| %>
      <div class='row'>
        <div class='col-sm-6 col-xs-12'>
          <%= f.input :staff, collection: options_for_select(@current_profile.staff.order(:first_name).map { |staff| [staff.name, staff.id]}, current_user.id), include_blank: false %>
        </div>
        <div class='col-sm-6 col-xs-12'>
          <%= f.input :active, as: :select, label: 'Match active?', include_blank: false %>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-6 col-xs-12'>
          <%= f.input :mentors, as: :select, multiple: true, collection: @current_profile.can_match_mentors, input_html: { size: 20 } %>
        </div>
        <div class='col-sm-6 col-xs-12'>
          <%= f.input :mentees, as: :select, multiple: true, collection: @current_profile.can_match_mentees, input_html: { size: 20 } %>
        </div>
      </div>
      <label>Hold 'CTRL' or 'Command' to select multiple Mentors/Mentees</label><br><br>
      <ul>
        <li class='control-lable'><strong>Mentors:</strong> Only mentors who are "Active", have "Background Passed", and are "Ready to Match" will show in this list.<br>
        <li class='control-lable'><strong>Mentees:</strong> Only mentees who are "Active" and are "Ready to Match" will show in this list.<br>
        <li class='control-lable'><strong>Notes:</strong> You can add notes after a match has been saved.<br>
      </ul><br>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
    <br><br>
    <%= render 'admin/notes', object: @match, collapse: false unless @match.new_record? %>
  </div>
</div>
