<% content_for :search do %>
  <%= render_search_panel('background_checks', path: organization_background_checks_path(@current_profile)) %>
<% end %>

<div class="panel panel-success">
  <div class="panel-heading">
    <h4 class="panel-title">Background Checks (<%= @background_checks.count %>)
      <span class='pull-right'>
        <%= link_to 'New Background Check', new_organization_background_check_path(@current_profile), class: "btn btn-xs btn-success" %>
      </span>
    </h4>
  </div>
   <table class="table table-condensed table-hover table-responsive">
    <tr>
      <th>Mentor</th>
      <th>Submitted</th>
      <th>Last Updated</th>
      <th>Status</th>
      <!-- <th class='text-center'><i class="fa fa-search"></i></th> -->
    </tr>
    <tbody>
      <% @background_checks.each do |check| %>
        <tr class=<%= Collections::BG_STYLES[check.status] %>>
          <td><%= check.user.name %></td>
          <td><%= check.created_at.try(:strftime, "%m/%d/%Y") %></td>
          <td><%= check.updated_at.try(:strftime, "%m/%d/%Y") %></td>
          <td><%= check.status %></td>
          <!-- <td class='text-center'>View</td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @background_checks, renderer: BootstrapPagination::Rails %>
