<div class="panel panel-success">
  <div class="panel-heading">
    <h4 class="panel-title">Staff Members
      <span class='pull-right'>
        <%= link_to 'New Staff Member', organization_new_staff_path, class: "btn btn-xs btn-success" %>
      </span>
    </h4>
  </div>
  <table class="table table-condensed table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Matches</th>
        <th><i class="fa fa-pencil"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @current_profile.staff.each do |staff| %>
        <tr>
          <td><%= staff.name %></td>
          <td><%= staff.email %></td>
          <td><%= staff.staff_matches.count %></td>
          <td><%= staff.notes.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br><br><br>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h4 class="panel-title">Our Documents</h4>
  </div>
  <%= render 'admin/attachments', object: @current_profile %>
</div>
